---
---
<div id="connecting-overlay" class="connecting hidden">
  <div class="connecting-inner">
    <img src="/images/char-mouse.png" alt="" class="connecting-mouse" />
    <p>The Court Clerk is recording…</p>
  </div>
</div>
